<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/demo/static/js/layui/css/layui.css">
    <style>
        .classOne
        {
            background: url(/demo/static/images/zilaiye.jpg)  no-repeat;
            background-size: cover;
            font-size: 16px;
        }
        .classTwo
        {
            background: url(/demo/static/images/7.jpg)  no-repeat;
            background-size: cover;
            font-size: 16px;
        }
        .classThree
        {
            background: url(/demo/static/images/1.jpg)  no-repeat;
            background-size: cover;
            font-size: 16px;
        }
    </style>
</head>
<body>
<script src="/demo/static/js/jquery-1.10.2.min.js"></script>
<script src="/demo/static/js/layui/layui.js"></script>
<div style="width: 100%;height: 15%;background: #fae6b9">

</div>
<div class="classThree" style="width: 100%;height: 70%;background: #fae6b9">
    <div style="width: 15%;height: 100%;background: #fae6b9;float: left">

    </div>
    <div style="width: 70%;height: 100%;background: #fae6b9;float: left">
        <div style="width: 100%;height: 50%;background: #fae6b9;float: top">
            <div style="width: 50%;height: 100%;background: #fae6b9;float: left">
                <div style="width: 50%;height: 100%;background: #fae6b9;float: left">
                    <!--<div class="classOne" style="width: 100%;height: 100%">

                    </div>-->
                    <div id = "div1" class="classOne" style="width: 100%;height: 100%;background: coral">

                    </div>
                </div>
                <div style="width: 50%;height: 100%;background: #fae6b9;float: right">
                    <div id = "div2"  style="width: 100%;height: 100%">
                        <i class="layui-icon" style="font-size: 230px; color:coral;">&#xe60c;</i>
                    </div>
                </div>
            </div>
            <div style="width: 50%;height: 100%;background: #fae6b9;float: right">
                <div style="width: 50%;height: 100%;background: #fae6b9;float: left">
                    <!--<div class="classTwo" style="width: 100%;height: 100%">

                    </div>-->
                    <div class="classOne" style="width: 100%;height: 100%;background: coral">

                    </div>
                </div>
                <div style="width: 50%;height: 100%;background: #fae6b9;float: right">
                    <div style="width: 100%;height: 100%">
                        <i class="layui-icon" style="font-size: 200px; color:coral;">&#xe69c;</i>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%;height: 50%;background: #fae6b9;float: bottom">
            <div style="width: 50%;height: 100%;background: #fae6b9;float: left">
                <div style="width: 50%;height: 100%;background: #fae6b9;float: left">

                </div>
                <div style="width: 50%;height: 100%;background: #fae6b9;float: right">
                    <div class="classOne" style="width: 100%;height: 100%;background: coral">

                    </div>
                </div>
            </div>
            <div style="width: 50%;height: 100%;background: #fae6b9;float: right">
                <div style="width: 50%;height: 100%;background: #fae6b9;float: left">

                </div>
                <div style="width: 50%;height: 100%;background: #fae6b9;float: right">
                    <div class="classOne" style="width: 100%;height: 100%;background: coral">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 15%;height: 100%;background: #fae6b9;float: right">

    </div>
</div>
<div style="width: 100%;height: 15%;background: #fae6b9">

</div>

<script src="/demo/static/js/file/daohang.js"></script>
</body>
</html>
